<section id="ourServices">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<h1>Our Services</h1>
					<hr width="25%" class="text-center">
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>TRUCKLOAD SHIPPING SERVICES</h2>
					<p>Dry or refrigerated, hazmat, bulk or flatbed, you can rely on our 35 years of experience in full truckload brokering. With a network of nearly 32,000 authorized carriers and a team dedicated to meticulously tracking your shipments, you’ll have peace of mind when you’re arranging the shipment of truckloads with Loomis Express. What’s the advantage of working with us instead of booking directly with an asset-based carrier? Good question!</p>
				</div>

				<div class="col-md-4">
					<h2>LTL SHIPPING SERVICES</h2>
					<p>Whether you’ve got dozens of LTL shipments going out each day or you only ship a few pallets occasionally, our LTL shipping services are built to deliver advantages to your business. With so many different LTL freight carriers for you to select from, it can be difficult to choose one. When you choose Loomis Express, you’re tapping into our nationwide network of contracted LTL carriers. If you’re looking for a trusted broker for LTL shipping with an unrivaled dedication to personalized service, you can be confident in your choice to outsource your LTL shipments to Loomis Express</p>
				</div>

				<div class="col-md-4">
					<h2>INTERMODAL SHIPPING SERVICES</h2>
					<p>Intermodal shipping has emerged in recent years as a modern, budget-friendly, and environmentally-friendly alternative to truckload shipping. This mode of transportation has existed for centuries, and today, technological advancements in the world of intermodal logistics have made intermodal shipping nearly as fast as truckload shipping (and in some cases, it’s just as fast – or faster!) If your shipments aren’t incredibly time-sensitive, you’re looking to save some money, and you want to lessen your carbon footprint, shipping by train is a great option for you to consider.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>EXPEDITED SHIPPING SERVICES</h2>
					<p>When less-than-truckload (LTL) shipping isn’t quick enough, or doesn’t provide the special handling your shipment requires, First World Delivery can arrange expedited and specialty transportation services to get the job done. We’d love to be your one-stop shop for all logistics solutions, including shipments that require special attention</p>
				</div>

				<div class="col-md-4">
					<h2>INTERNATIONAL SHIPPING (AIR &amp; SEA)</h2>
					<p>Let us navigate a safe passage for your imports and exports. Whether it’s an expedited air shipment, or multiple containers going halfway across the world, our knowledge and expertise will simplify your international freight shipping process. As your trusted international freight arranging company, we can arrange whatever you need by ground, air, or ocean. Are you looking to send a Full Container Load or Less than Container Load?  Does your shipment require door to door or port to port service? First World Delivery specializes in these services!</p>
				</div>

				<div class="col-md-4">
					<h2>SPECIALTY FREIGHT SERVICES</h2>
					<p>If your shipment doesn’t neatly fit into any one category, not to worry! We have arranged specialty transportation for some pretty unusual things – from giant cranes to movie sets. Our goal is to provide you with any specialty transportation solution you could possibly need, no matter how obscure or complicated. For our expert logistics consultants, being able to fulfill your unique requests is one of the most exciting aspects of our business. If you’re not sure who to call, that’s a sign that you should probably just call us!</p>
				</div>
			</div>
		</div>
	</section>